<%= stylesheet_link_tag "pages" %>

<div id="container">

		<h1>
		  <% if @list_item %>
		    <%= @list_item.title %>
		  <% else %>
		    No Printing
		  <% end %>
		</h1>
		<h2 class="subtitle">
		<% if @list_item %>
		  <%= @list_item.comments %>
		<% else %>
		  Stay tuned...
		<% end %>
		</h2>

		<!-- Countdown dashboard start -->
		<div id="fancyCountdown"></div>
		<br />
		<!-- Countdown dashboard end -->
<hr>


    <% if @list_item && @list_item.end_time %>
		  <script language="javascript" type="text/javascript">
			  jQuery(document).ready(function() {
				  $('#fancyCountdown').countDown({
					  targetDate: {
						  'day':  <%= @list_item.end_time.strftime("%d") %>,
						  'month':<%= @list_item.end_time.strftime("%m") %>,
						  'year': <%= @list_item.end_time.strftime("%Y") %>,
						  'hour': <%= @list_item.end_time.strftime("%H") %>,
						  'min': 	<%= @list_item.end_time.strftime("%M") %>,
						  'sec': 	<%= @list_item.end_time.strftime("%S") %>
					  }
				  });
			  });
		  </script>

		<% end %>

	</div>
